form {
  font-size: 120%;
}

#head01 {
  color: blue;
}

#head02 {
  color: blue;
  font-size: 100%;
}

td {
  width: 25px;
  height: 25px;
  color: black;
  background: green;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
}

#div01 {
    position: fixed;
    left: 200px;
    background-color: lightgrey;
    width: 500px;
    padding: 25px;
    border: 25px solid navy;
/*    margin: 25px; */
    text-align: center;
}

#div03 .blocknow {
  position: fixed;
  background-color: blue;
  width: 4px;
  padding: 13px;
}

#div03 .block {
  position: fixed;
  background-color: skyblue;
  width: 4px;
  padding: 13px;
}

#bfImg {
  cursor: pointer;
}

#field {
  border: 2px solid red;
  border-collapse: collapse;
}

#div02 td {
    background-color: white;
    width: 80px;
    padding: 10px;
    border: 0px solid navy;
/*    margin: 10px; */
    text-align: left;
    font-size: 125%;
}

