h1,
p {
  text-align: center;
}

img {
  width: 10px;
  height: 10px;
}

#div01 {
  margin-top: 1OOpx;
  text-align: center;
}

#bfImg {
  cursor: pointer;
}

#field {
  border: 2px solid red;
  border-collapse: collapse;
}

td {
  width: 25px;
  height: 25px;
  color: black;
  background: green;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  cursor: pointer;
}