#head01 {
  color: blue;
}

#head02 {
  color: blue;
  font-size: 100%;
}

td {
  width: 25px;
  height: 25px;
  color: black;
  background: green;
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  cursor: pointer;
}

#bfImg {
  width: 200px;
  height: 200px;
}

#div01 {
    position: absolute;
    left: 10%;
    top: 0%;
    width: 80%;
    text-align: center;
    background-color: lightgrey;
    border: 10px solid navy;
}

#div02 {
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: lightgreen;
    height: 100%;
    text-align: center;
}

#div03 .block {
  position: fixed;
  width: 4px;
  padding: 13px;
}

#bfImg {
  cursor: pointer;
}

#field {
  border: 2px solid red;
  border-collapse: collapse;
}


